.git
.DS_Store

node_modules
cmd/ui/node_modules
cmd/ui/admin/dist
cmd/ui/play/dist

.tmp
openteam
tests/gizclaw-e2e/.env
tests/gizclaw-e2e/setup/.env
tests/gizclaw-e2e/.testbench
tests/gizclaw-e2e/testdata/bin
tests/gizclaw-e2e/testdata/docker
tests/gizclaw-e2e/testdata/server-workspace/data
tests/gizclaw-e2e/testdata/server-workspace/*.log
tests/gizclaw-e2e/testdata/server-workspace/*.pid
