*
!.gitignore
!resources/
!resources/*.json
!workspaces/
!workspaces/*.json
!server-workspace/
!server-workspace/config.yaml
!server-workspace/identity.key
!admin-config-home/
!admin-config-home/gizclaw/
!admin-config-home/gizclaw/current
!admin-config-home/gizclaw/e2e-admin/
!admin-config-home/gizclaw/e2e-admin/config.yaml
!admin-config-home/gizclaw/e2e-admin/identity.key
!gizclaw-config-home/
!gizclaw-config-home/gizclaw/
!gizclaw-config-home/gizclaw/current
!gizclaw-config-home/gizclaw/e2e-client/
!gizclaw-config-home/gizclaw/e2e-client/config.yaml
!gizclaw-config-home/gizclaw/e2e-client/identity.key
