*
!.gitignore
!resources/
!resources/**/
!resources/**/*.yaml
!assets/
!assets/firmware/
!assets/firmware/*.tar
!workspaces/
!workspaces/*.json
!server-workspace/
!server-workspace/config.yaml
!server-workspace/identity.key
!config-home-giznet/
!config-home-giznet/gizclaw/
!config-home-giznet/gizclaw/*/
!config-home-giznet/gizclaw/*/config.yaml
!config-home-giznet/gizclaw/*/identity.key
!config-home-webrtc/
!config-home-webrtc/gizclaw/
!config-home-webrtc/gizclaw/*/
!config-home-webrtc/gizclaw/*/config.yaml
!config-home-webrtc/gizclaw/*/identity.key
