*
!.gitignore
!resources/
!resources/**/
!resources/**/*.yaml
!assets/
!assets/firmware/
!assets/firmware/*.tar
!assets/workflows/
!assets/workflows/generate.go
!assets/workflows/*/
!assets/workflows/*/icon.png
!assets/workflows/*/icon.pixa
!workflow_catalog_test.go
!workspaces/
!workspaces/*.json
!server-workspace/
!server-workspace/config.yaml.template
!edge-workspace/
!edge-workspace/config.yaml.template
!identities/
!identities/*/
!identities/*/config.yaml
!cmd-config-home/
!cmd-config-home/gizclaw/
!cmd-config-home/gizclaw/current
!cmd-config-home/gizclaw/*/
!cmd-config-home/gizclaw/*/config.yaml
