*
!.gitignore
!resources/
!resources/**/
!resources/**/*.yaml
!assets/
!assets/firmware/
!assets/firmware/*.tar
!workspaces/
!workspaces/*.json
!server-workspace/
!server-workspace/config.yaml
!server-workspace/identity.key
!identities/
!identities/*/
!identities/*/config.yaml
!identities/*/identity.key
!cmd-config-home/
!cmd-config-home/gizclaw/
!cmd-config-home/gizclaw/current
!cmd-config-home/gizclaw/*/
!cmd-config-home/gizclaw/*/config.yaml
!cmd-config-home/gizclaw/*/identity.key
